<h3>Add New List</h3>
<form  action="/lists" method="post">
  <div class="form-group">
    <label class='form-label' for="name">Assign a name to your list:</label>
    <input type="text" name="name" id='name' placeholder="List Name" autofocus>
    <button type="submit" class="button btn">Add List</button>
  </div>
</form>
