<h1><%=@list.name%></h1>

<% if @tasks.any?() %>
  <h3>Here are your lists:</h3>

  <ul>
    <% @tasks.each() do |task| %>
    <% if task.list_id == @list.id %>
      <li><%= task.description() %></a> </li>
      <% end %>
    <% end %>
  </ul>

<% else %>

    <p>There are no tasks yet!</p>

<% end %>



<p><a href="/lists/<%= @list.id() %>/edit">Edit <%= @list.name() %> list</a></p>
<p><a href="/">Return to Main Page</a></p>
